<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>984</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>984</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>984</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>984</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>816</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>816</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>816</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>816</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>646</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>646</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>646</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>646</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>476</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>476</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>476</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>476</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>304</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>304</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>461</integer>
			<key>y</key>
			<integer>304</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>304</integer>
		</dict>
	</array>
</array>
</plist>
