<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle/Down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/Down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{80,82}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/HeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,554},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>battle/LL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,456},{225,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,192}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/LL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,409},{225,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{225,182}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/LL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,360},{225,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,192}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/Left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,540},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/Left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,409},{80,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,82}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/RR_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,229},{225,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,192}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/RR_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{225,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{225,182}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/RR_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{225,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,192}}</string>
                <key>sourceSize</key>
                <string>{225,192}</string>
            </dict>
            <key>battle/Right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,450},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/Right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,554},{80,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,82}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/battling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,409},{128,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>battle/battling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,181},{116,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,69}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>battle/battling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{128,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>battle/dw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{177,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,244}}</string>
                <key>sourceSize</key>
                <string>{177,244}</string>
            </dict>
            <key>battle/dw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{177,234}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{177,234}}</string>
                <key>sourceSize</key>
                <string>{177,244}</string>
            </dict>
            <key>battle/dw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{177,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,244}}</string>
                <key>sourceSize</key>
                <string>{177,244}</string>
            </dict>
            <key>battle/enimyInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{277,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,47}}</string>
                <key>sourceSize</key>
                <string>{277,47}</string>
            </dict>
            <key>battle/selfInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,47}}</string>
                <key>sourceSize</key>
                <string>{277,47}</string>
            </dict>
            <key>battle/shadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,51},{113,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,64}}</string>
                <key>sourceSize</key>
                <string>{113,64}</string>
            </dict>
            <key>battle/up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,360},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,554},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{80,82}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>battle/uup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,181},{177,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,241}}</string>
                <key>sourceSize</key>
                <string>{177,241}</string>
            </dict>
            <key>battle/uup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,230},{177,231}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{177,231}}</string>
                <key>sourceSize</key>
                <string>{177,241}</string>
            </dict>
            <key>battle/uup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,51},{177,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,241}}</string>
                <key>sourceSize</key>
                <string>{177,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac5554ea03c30a45d5c63eff2675a55:1/1$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
