<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button/Backlight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{512,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,442}}</string>
                <key>sourceSize</key>
                <string>{512,442}</string>
            </dict>
            <key>button/Backlight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{512,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,76}}</string>
                <key>sourceSize</key>
                <string>{512,76}</string>
            </dict>
            <key>button/Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,216}}</string>
                <key>sourceSize</key>
                <string>{750,216}</string>
            </dict>
            <key>button/btn_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,220},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>button/btn_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,410},{180,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{180,198}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>button/btn_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>button/btn_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,212},{208,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,233}}</string>
                <key>sourceSize</key>
                <string>{208,233}</string>
            </dict>
            <key>button/btn_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,220},{188,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{188,209}}</string>
                <key>sourceSize</key>
                <string>{208,233}</string>
            </dict>
            <key>button/btn_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{208,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,233}}</string>
                <key>sourceSize</key>
                <string>{208,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b93cb89a12bb89af1235f2faab3657be:1/1$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
