<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common3/qiangtishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{863,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,280}}</string>
                <key>sourceSize</key>
                <string>{863,280}</string>
            </dict>
            <key>common3/queding2_anxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,411},{163,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{163,53}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/queding2_chushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,185},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/queding2_jinyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,124},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/quxiao2_anxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,246},{163,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{163,53}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/quxiao2_chushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,63},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/quxiao2_jinyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>common3/ruotishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,246},{758,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,142}}</string>
                <key>sourceSize</key>
                <string>{758,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f653b9c878b9f21516826a7f66583e8c:1/1$</string>
            <key>textureFileName</key>
            <string>common3.png</string>
        </dict>
    </dict>
</plist>
