<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,251},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>map/cliff.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{121,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,56}</string>
            </dict>
            <key>map/direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,869},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>map/grass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,674},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>map/grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,596},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>map/grass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{111,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,43}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>map/grass4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,411},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>map/grass5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,327},{137,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,61}}</string>
                <key>sourceSize</key>
                <string>{137,61}</string>
            </dict>
            <key>map/grass6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,698},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>map/grass7.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,466},{189,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,88}}</string>
                <key>sourceSize</key>
                <string>{189,88}</string>
            </dict>
            <key>map/grass8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{378,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,143}}</string>
                <key>sourceSize</key>
                <string>{378,143}</string>
            </dict>
            <key>map/hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,895},{98,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,80}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>map/house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,691},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>map/house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{139,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,131}}</string>
                <key>sourceSize</key>
                <string>{139,131}</string>
            </dict>
            <key>map/house3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,830},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>map/house4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,691},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>map/lake.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>map/mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{315,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,154}}</string>
                <key>sourceSize</key>
                <string>{315,154}</string>
            </dict>
            <key>map/mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{272,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,111}}</string>
                <key>sourceSize</key>
                <string>{272,111}</string>
            </dict>
            <key>map/mountain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,178}}</string>
                <key>sourceSize</key>
                <string>{385,178}</string>
            </dict>
            <key>map/mountain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,556},{232,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,133}}</string>
                <key>sourceSize</key>
                <string>{232,133}</string>
            </dict>
            <key>map/skeleton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,918},{89,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,67}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>map/skeleton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,705},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>map/stone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,411},{51,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,19}}</string>
                <key>sourceSize</key>
                <string>{51,19}</string>
            </dict>
            <key>map/stone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,869},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>map/stone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,442},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>map/stone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,483},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>map/tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,624},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>map/tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,778},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>map/tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,251},{64,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,115}}</string>
                <key>sourceSize</key>
                <string>{64,115}</string>
            </dict>
            <key>map/tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,907},{99,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,77}}</string>
                <key>sourceSize</key>
                <string>{99,77}</string>
            </dict>
            <key>map/tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,778},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>map/tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,907},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>map/tree7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,317},{92,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,113}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>map/tree8.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,60},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,119}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>map/tree9.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,151},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>map/windmill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{98,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,149}}</string>
                <key>sourceSize</key>
                <string>{98,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1914f2741f5848a1ac1828502216606d$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
