<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map2desert/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,942},{78,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,112}}</string>
                <key>sourceSize</key>
                <string>{78,112}</string>
            </dict>
            <key>map2desert/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,961},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>map2desert/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,748},{129,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,87}}</string>
                <key>sourceSize</key>
                <string>{129,87}</string>
            </dict>
            <key>map2desert/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,748},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>map2desert/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,826},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>map2desert/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,748},{149,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,94}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>map2desert/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,920},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>map2desert/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,855},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>map2desert/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,748},{105,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,42}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>map2desert/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,942},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,27}}</string>
                <key>sourceSize</key>
                <string>{80,27}</string>
            </dict>
            <key>map2desert/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,744}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,744}}</string>
                <key>sourceSize</key>
                <string>{1020,744}</string>
            </dict>
            <key>map2desert/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,942},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>map2desert/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,850},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>map2desert/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,748},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>map2desert/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,961},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>map2desert/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,997},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>map2desert/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{60,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,23}}</string>
                <key>sourceSize</key>
                <string>{60,23}</string>
            </dict>
            <key>map2desert/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,879},{126,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,110}}</string>
                <key>sourceSize</key>
                <string>{126,110}</string>
            </dict>
            <key>map2desert/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,899},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>map2desert/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,748},{192,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,147}}</string>
                <key>sourceSize</key>
                <string>{192,147}</string>
            </dict>
            <key>map2desert/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,790},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>map2desert/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,845},{43,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{43,53}</string>
            </dict>
            <key>map2desert/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,942},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>map2desert/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,748},{40,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,81}}</string>
                <key>sourceSize</key>
                <string>{40,81}</string>
            </dict>
            <key>map2desert/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,956},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>map2desert/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,961},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>map2desert/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,790},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>map2desert/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,748},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>map2desert/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,900},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>map2desert/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,748},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>map2desert/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{247,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,154}}</string>
                <key>sourceSize</key>
                <string>{247,154}</string>
            </dict>
            <key>map2desert/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,748},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2desert.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c49854306e13cb196b2859a89bcfa3f$</string>
            <key>textureFileName</key>
            <string>map2desert.png</string>
        </dict>
    </dict>
</plist>
