<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map2desert1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{512,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,239}}</string>
                <key>sourceSize</key>
                <string>{512,239}</string>
            </dict>
            <key>map2desert1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,723}}</string>
                <key>sourceSize</key>
                <string>{700,723}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2desert1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b740e8b47f3f0db4178f62eb6261a15e$</string>
            <key>textureFileName</key>
            <string>map2desert1.png</string>
        </dict>
    </dict>
</plist>
