<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map3magma/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{184,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,77}}</string>
                <key>sourceSize</key>
                <string>{184,77}</string>
            </dict>
            <key>map3magma/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{198,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,76}}</string>
                <key>sourceSize</key>
                <string>{198,76}</string>
            </dict>
            <key>map3magma/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,89},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>map3magma/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,667},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>map3magma/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,737},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>map3magma/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,462},{135,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,66}}</string>
                <key>sourceSize</key>
                <string>{135,66}</string>
            </dict>
            <key>map3magma/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>map3magma/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,415},{255,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,27}}</string>
                <key>sourceSize</key>
                <string>{255,27}</string>
            </dict>
            <key>map3magma/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{279,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,42}}</string>
                <key>sourceSize</key>
                <string>{279,42}</string>
            </dict>
            <key>map3magma/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,403},{136,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,17}}</string>
                <key>sourceSize</key>
                <string>{136,17}</string>
            </dict>
            <key>map3magma/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{345,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,45}}</string>
                <key>sourceSize</key>
                <string>{345,45}</string>
            </dict>
            <key>map3magma/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{476,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,85}}</string>
                <key>sourceSize</key>
                <string>{476,85}</string>
            </dict>
            <key>map3magma/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{380,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,64}}</string>
                <key>sourceSize</key>
                <string>{380,64}</string>
            </dict>
            <key>map3magma/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,374},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>map3magma/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,222},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>map3magma/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,338},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>map3magma/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,327},{258,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,86}}</string>
                <key>sourceSize</key>
                <string>{258,86}</string>
            </dict>
            <key>map3magma/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,594},{147,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,80}</string>
            </dict>
            <key>map3magma/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,152}}</string>
                <key>sourceSize</key>
                <string>{535,152}</string>
            </dict>
            <key>map3magma/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,249},{92,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,67}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>map3magma/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,251},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>map3magma/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,465},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>map3magma/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,896},{106,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,75}}</string>
                <key>sourceSize</key>
                <string>{106,75}</string>
            </dict>
            <key>map3magma/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,896},{116,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,59}}</string>
                <key>sourceSize</key>
                <string>{116,59}</string>
            </dict>
            <key>map3magma/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,123},{93,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,124}}</string>
                <key>sourceSize</key>
                <string>{93,124}</string>
            </dict>
            <key>map3magma/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,633},{159,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,66}}</string>
                <key>sourceSize</key>
                <string>{159,66}</string>
            </dict>
            <key>map3magma/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,695},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>map3magma/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,675},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>map3magma/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,300},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>map3magma/30.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,321},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>map3magma/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,619},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>map3magma/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,619},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>map3magma/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>map3magma/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,269},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>map3magma/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,675},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>map3magma/36.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,318},{145,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,88}}</string>
                <key>sourceSize</key>
                <string>{145,88}</string>
            </dict>
            <key>map3magma/37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>map3magma/38.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,327},{151,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,119}}</string>
                <key>sourceSize</key>
                <string>{151,119}</string>
            </dict>
            <key>map3magma/39.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,403},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>map3magma/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>map3magma/40.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,156},{171,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,153}}</string>
                <key>sourceSize</key>
                <string>{171,153}</string>
            </dict>
            <key>map3magma/41.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,444},{186,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,228}}</string>
                <key>sourceSize</key>
                <string>{186,228}</string>
            </dict>
            <key>map3magma/42.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,701},{151,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,193}}</string>
                <key>sourceSize</key>
                <string>{151,193}</string>
            </dict>
            <key>map3magma/43.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,560},{170,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,151}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>map3magma/44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{123,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,140}}</string>
                <key>sourceSize</key>
                <string>{123,140}</string>
            </dict>
            <key>map3magma/45.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,632},{208,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,157}}</string>
                <key>sourceSize</key>
                <string>{208,157}</string>
            </dict>
            <key>map3magma/46.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,329},{229,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,155}}</string>
                <key>sourceSize</key>
                <string>{229,155}</string>
            </dict>
            <key>map3magma/47.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,605},{130,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,151}}</string>
                <key>sourceSize</key>
                <string>{130,151}</string>
            </dict>
            <key>map3magma/48.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,480},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>map3magma/49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{270,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,147}}</string>
                <key>sourceSize</key>
                <string>{270,147}</string>
            </dict>
            <key>map3magma/50.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,89},{381,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,236}}</string>
                <key>sourceSize</key>
                <string>{381,236}</string>
            </dict>
            <key>map3magma/52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,318},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3magma.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f25f0381c2e7e369c610bb78209bb8$</string>
            <key>textureFileName</key>
            <string>map3magma.png</string>
        </dict>
    </dict>
</plist>
