<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Normal/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{612,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,173}}</string>
                <key>sourceSize</key>
                <string>{612,173}</string>
            </dict>
            <key>Normal/AD.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,650},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>Normal/Arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,776},{144,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>Normal/BigArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1886},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal/BigAtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1080},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{72,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal/BigDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1968},{80,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal/BigHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1152},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal/BigeffectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1971},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal/Box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,222},{399,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,241}}</string>
                <key>sourceSize</key>
                <string>{399,241}</string>
            </dict>
            <key>Normal/Box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1202},{435,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,468}}</string>
                <key>sourceSize</key>
                <string>{435,468}</string>
            </dict>
            <key>Normal/Box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{256,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,172}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>Normal/DF.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,533},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>Normal/Decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,587},{136,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,11}}</string>
                <key>sourceSize</key>
                <string>{136,11}</string>
            </dict>
            <key>Normal/Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1554},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Normal/HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,623},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>Normal/Lattice.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,791},{146,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,169}}</string>
                <key>sourceSize</key>
                <string>{146,169}</string>
            </dict>
            <key>Normal/Life.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,560},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>Normal/Life1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,533},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>Normal/Line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,222},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>Normal/Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,404},{127,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,48}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>Normal/Progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,176},{247,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,44}}</string>
                <key>sourceSize</key>
                <string>{247,44}</string>
            </dict>
            <key>Normal/Setup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1886},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>Normal/Setup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,644},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>Normal/Training_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1452},{100,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,803},{183,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,141}}</string>
                <key>sourceSize</key>
                <string>{183,141}</string>
            </dict>
            <key>Normal/btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,623},{218,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,93}}</string>
                <key>sourceSize</key>
                <string>{218,93}</string>
            </dict>
            <key>Normal/btn_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,718},{196,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{196,83}}</string>
                <key>sourceSize</key>
                <string>{218,93}</string>
            </dict>
            <key>Normal/btn_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{218,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,93}}</string>
                <key>sourceSize</key>
                <string>{218,93}</string>
            </dict>
            <key>Normal/btn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1006},{155,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,72}}</string>
                <key>sourceSize</key>
                <string>{155,72}</string>
            </dict>
            <key>Normal/btn_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,946},{155,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,72}}</string>
                <key>sourceSize</key>
                <string>{155,72}</string>
            </dict>
            <key>Normal/btn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,922},{155,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,82}}</string>
                <key>sourceSize</key>
                <string>{155,82}</string>
            </dict>
            <key>Normal/btn_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1639},{139,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{139,74}}</string>
                <key>sourceSize</key>
                <string>{155,82}</string>
            </dict>
            <key>Normal/btn_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,707},{155,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,82}}</string>
                <key>sourceSize</key>
                <string>{155,82}</string>
            </dict>
            <key>Normal/btn_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,638},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal/btn_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1006},{32,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,63}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal/btn_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,569},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal/btn_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,556},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>Normal/btn_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1682},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{91,94}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>Normal/btn_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,444},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>Normal/dais.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,222},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{96,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{465,475}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{465,475}}</string>
                <key>sourceSize</key>
                <string>{469,489}</string>
            </dict>
            <key>Normal/flag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1091},{139,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>Normal/flag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1020},{139,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>Normal/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,939},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>Normal/line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,200},{4,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{4,22}}</string>
                <key>sourceSize</key>
                <string>{8,22}</string>
            </dict>
            <key>Normal/line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,176},{4,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{4,22}}</string>
                <key>sourceSize</key>
                <string>{8,22}</string>
            </dict>
            <key>Normal/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,347},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Normal/mystery.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1452},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{80,102}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,176},{1,1}}</string>
                <key>offset</key>
                <string>{-17.5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>Normal/professional1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1452},{114,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1639},{122,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1639},{114,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1879},{112,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,522},{120,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1568},{112,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1863},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1763},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1755},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1906},{84,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{84,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{92,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{92,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/professional4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{84,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{84,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal/pub.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1556},{80,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{80,100}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/spring_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1682},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/strange.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,328},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{114,108}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/tent.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1080},{116,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{116,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/treasure_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,668},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{110,106}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/war.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1788},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{90,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal/win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{461,489}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,489}}</string>
                <key>sourceSize</key>
                <string>{469,489}</string>
            </dict>
            <key>Normal/win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,343}}</string>
                <key>sourceSize</key>
                <string>{667,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Normal.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b31c25796cc754433f6d9043d4edcc:1/1$</string>
            <key>textureFileName</key>
            <string>Normal.png</string>
        </dict>
    </dict>
</plist>
