<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Normal2/AD.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1092},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>Normal2/Arms.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,919},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>Normal2/Arrow_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1605},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>Normal2/Arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1558},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>Normal2/Atlas_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,132},{252,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,128}}</string>
                <key>sourceSize</key>
                <string>{252,128}</string>
            </dict>
            <key>Normal2/Atlas_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,262},{252,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{252,118}}</string>
                <key>sourceSize</key>
                <string>{252,128}</string>
            </dict>
            <key>Normal2/Atlas_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{252,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,128}}</string>
                <key>sourceSize</key>
                <string>{252,128}</string>
            </dict>
            <key>Normal2/Background_color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1428},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/BigArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1561},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/BigAtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1829},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{72,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/BigDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1511},{80,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/BigHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1269},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/BigeffectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1723},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/DF.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1411},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>Normal2/Decoration1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,810},{136,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,11}}</string>
                <key>sourceSize</key>
                <string>{136,11}</string>
            </dict>
            <key>Normal2/FB_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1382},{132,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,103}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/FB_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1676},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{112,87}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/FB_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1277},{132,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,103}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1347},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>Normal2/HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1065},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>Normal2/Life.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1136},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>Normal2/Life1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1119},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>Normal2/Line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,382},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>Normal2/Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1428},{127,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,48}}</string>
                <key>sourceSize</key>
                <string>{127,48}</string>
            </dict>
            <key>Normal2/Progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1142},{247,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,44}}</string>
                <key>sourceSize</key>
                <string>{247,44}</string>
            </dict>
            <key>Normal2/Setup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1429},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>Normal2/Setup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1739},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>Normal2/Statistics_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,772},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,128}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/Statistics_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1022},{251,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{251,118}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/Statistics_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,642},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,128}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/Training_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1639},{100,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{100,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/WB_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1277},{132,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,103}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/WB_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1375},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{112,87}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/WB_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1277},{132,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,103}}</string>
                <key>sourceSize</key>
                <string>{132,103}</string>
            </dict>
            <key>Normal2/boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1243},{183,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,141}}</string>
                <key>sourceSize</key>
                <string>{183,141}</string>
            </dict>
            <key>Normal2/boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1106},{153,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,112}}</string>
                <key>sourceSize</key>
                <string>{153,112}</string>
            </dict>
            <key>Normal2/btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,750},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Normal2/btn_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1188},{210,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{210,87}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Normal2/btn_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,396},{246,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,103}}</string>
                <key>sourceSize</key>
                <string>{246,103}</string>
            </dict>
            <key>Normal2/btn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1382},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>Normal2/btn_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1277},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>Normal2/btn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,452},{171,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,103}}</string>
                <key>sourceSize</key>
                <string>{171,103}</string>
            </dict>
            <key>Normal2/btn_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1065},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{145,87}}</string>
                <key>sourceSize</key>
                <string>{171,103}</string>
            </dict>
            <key>Normal2/btn_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,347},{171,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,103}}</string>
                <key>sourceSize</key>
                <string>{171,103}</string>
            </dict>
            <key>Normal2/btn_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1511},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal2/btn_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1428},{32,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,63}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal2/btn_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>Normal2/btn_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,662},{170,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,103}}</string>
                <key>sourceSize</key>
                <string>{170,103}</string>
            </dict>
            <key>Normal2/btn_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1154},{144,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{144,87}}</string>
                <key>sourceSize</key>
                <string>{170,103}</string>
            </dict>
            <key>Normal2/btn_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,557},{170,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,103}}</string>
                <key>sourceSize</key>
                <string>{170,103}</string>
            </dict>
            <key>Normal2/btn_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1668},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>Normal2/btn_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1487},{77,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{77,72}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>Normal2/btn_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1579},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>Normal2/dais.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{96,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{465,475}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{465,475}}</string>
                <key>sourceSize</key>
                <string>{469,489}</string>
            </dict>
            <key>Normal2/flag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{139,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>Normal2/flag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{139,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{139,109}</string>
            </dict>
            <key>Normal2/heroRank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1757},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroRank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1720},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroRank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1768},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroType_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1593},{86,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{86,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroType_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1681},{74,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{74,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroType_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1684},{86,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{86,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/heroType_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1697},{84,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Normal2/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1487},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,767},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>Normal2/line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,972},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>Normal2/line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,948},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>Normal2/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1428},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Normal2/mystery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{80,102}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/point1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,347},{1,1}}</string>
                <key>offset</key>
                <string>{-17.5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>Normal2/professional1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1464},{114,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,206},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{96,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1487},{126,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1261},{112,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,108},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1558},{124,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1615},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1487},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1600},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{106,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1684},{94,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{94,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/professional4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1478},{120,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Normal2/pub.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1615},{80,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{80,100}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/settings_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,512},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,128}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/settings_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,902},{251,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{251,118}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/settings_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,382},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,128}}</string>
                <key>sourceSize</key>
                <string>{251,128}</string>
            </dict>
            <key>Normal2/spring_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,644},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/strange.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1188},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>Normal2/tent.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1580},{116,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{116,94}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/treasure_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,998},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{110,106}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/war.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,304},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{90,96}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>Normal2/win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{461,489}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,489}}</string>
                <key>sourceSize</key>
                <string>{469,489}</string>
            </dict>
            <key>Normal2/win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,343}}</string>
                <key>sourceSize</key>
                <string>{667,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Normal2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ba9d60545bd6b70ae1e68fe074ae9b:1/1$</string>
            <key>textureFileName</key>
            <string>Normal2.png</string>
        </dict>
    </dict>
</plist>
