<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/ArmorBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,309},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>role/Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,309},{169,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,30}}</string>
                <key>sourceSize</key>
                <string>{169,30}</string>
            </dict>
            <key>role/Maps1Node_Enemy_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,515},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps1Node_Self_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps2Node_Enemy_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps2Node_Self_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,344},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps3Node_Enemy_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps3Node_Self_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps4Node_Enemy_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/Maps4Node_Self_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/MapsNode_Enemy_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/MapsNode_Self_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,309},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,343},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/def.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,309},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/effectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,341},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/enimyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/enimyBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{159,157}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,341},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,341},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role/selfBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/selfBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{159,157}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>role/soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,161},{146,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{146,152}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>role/stoneBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,172}}</string>
                <key>sourceSize</key>
                <string>{169,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b510db6b41f6b3d9b591715b208f69:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
